body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#menu, #game {
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    margin-top: 20px;
}

#game {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
    margin: 0 auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cell.clicked {
    background-color: #28a745;
    color: white;
}

@media (max-width: 600px) {
    .grid {
        width: 90%;
    }

    .cell {
        height: 90px;
        font-size: 30px;
    }
}
